*.unityproj
*.booproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.csproj
*.bak

bin/
.idea/
Bin/
Obj/
Logs/

# client 
/.idea/*
/build/*
/Library/*
//Logs/*
/obj/*
/Packages/*
/Temp/*
/UserSettings/*
/ProjectSettings/*
/Assets/StreamingAssets/*